.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  .absolute();
  will-change: transform;
}

.block {
  height: 100%;

  &--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--split {
    display: flex;
    flex-wrap: wrap;

    &__column {
      height: 100%;
      width: 50%;
    }

    .block__text {
      width: 100%;
      text-align: left;
      font-size: @22px;
      padding: 0 15%;

      @media (max-width: 1000px) {
        font-size: @18px;
        line-height: 1.4;
      }

      @media (max-width: 700px) {
        font-size: @15px;
        padding: 0 16%;
      }
    }
  }

  &__text {
    .center-block();
    width: 100%;
    max-width: 900px;
    font-size: @40px;

    @media (max-width: 1000px) {
      font-size: @30px;
      padding: 0 @60px;
      line-height: 1.4;
    }

    @media (max-width: 700px) {
      font-size: @22px;
      padding: 0 @80px;
    }

    a {
      text-decoration: none;
      transition: opacity 0.5s @easeOutQuint;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &--video {
    overflow: hidden;

    &__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--project-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(255,255,255,0.9);
    transition: background-color .4s;
    z-index: 1;

    &:hover {
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.project-nav {

  &__img {
    .absolute();
    .size(100%, 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    will-change: transform;

    &--prev {
      transform: translateX(-50%);
    }

    &--next {
      transform: translateX(50%);
    }
  }

  &__label {
    font-size: @55px;
    font-weight: 700;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-align: center;

    @media (max-width: 1000px) {
      font-size: @40px;
      margin-bottom: 1.5rem;
    }

    @media (max-width: 700px) {
      font-size: @30px;
      margin-bottom: 1.3rem;
    }

    @media (max-width: 500px) {
      font-size: @30px;
      margin-bottom: 0.75rem;
    }
  }

  &__title {
    font-size: @12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;

    @media (max-width: 700px) {
      padding: 0 15%;
    }
  }
}
