@import "import/_normalize.less";
@import "import/_var.less";
@import "import/_mixin.less";
@import "import/_fonts.less";
@import "import/_grid.less";
@import "import/_keyframes.less";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	height: 100%;
	overflow: hidden;
}

html {
	font: 100%/1.5 @font;
}

body {
	background-color: #f9f9f9;
}

/* -----
Global Border and mobile portrait overlay styles
----- */
.border {
	.fixed();
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-width: @30px;
	border-style: solid;
	border-color: @black;
	opacity: 0;
	pointer-events: none;
	z-index: 8888;
	transition: border-color 1s, background-color .25s;

	h2, svg {
		opacity: 0;
		transition: opacity .25s;
	}

	h2 {
		font-family: @nav-font;
		font-size: @40px;
		line-height: 1.2;
		padding: 0 6rem;
		margin-bottom: 2rem;
	}

	@media (orientation: portrait) {
		pointer-events: auto;
		border-color: @blue;
		background-color: @white;

		h2, svg {
			opacity: 1;
		}
	}
}

/* -----
Typography
----- */
@import "import/_typography.less";

/* -----
App UI
----- */
.nav {

	&__link {
		position: absolute;
		font-family: @nav-font;
		font-size: @40px;
		text-decoration: none;
		padding: @16px;
		z-index: 999;
		transition: color .4s;
		transition-delay: .2s;

		.hidden();

		@media (max-width: 1240px) {
			font-size: @30px;
		}

		&--eyecon {
			top: @30px;
			left: @30px;
			z-index: 9999;
			svg {
				width: @90px;

				@media (max-width: 1240px) {
					width: @80px;
				}
			}
		}

		&--work {
			top: @16px;
			right: @30px;

			@media (max-width: 1240px) {
				top: @20px;
			}
		}

		&--about {
			bottom: @12px;
			left: @30px;
		}

		&--contact {
			bottom: @12px;
			right: @30px;
		}
	}
}

/* -----
View
----- */
main {
	.fixed();
	.size(100%,100%);

	.page {
		.fixed();
		.hidden();
		text-align: center;
	}
}

/* -----
Utils
----- */
.vertical-align {
	display: table;
	position: relative;
	.size(100%,100%);

	&__item {
		display: table-cell;
		vertical-align: middle
	}
}

/* -----
Preloader
----- */
@import "pages/_preloader.less";

/* -----
Home
----- */
@import "pages/_home.less";

/* -----
Work
----- */
@import "pages/_work.less";

/* -----
Single
----- */
@import "pages/_single.less";

/* -----
About
----- */
@import "pages/_about.less";

/* -----
Contact
----- */
@import "pages/_contact.less";

/* -----
Medias Queries
----- */
@import "import/_medias.less";
